.btn {
  -fx-font-family: "Berlin Sans FB";
  font-family: "Berlin Sans FB";
  -fx-font-size: 20px;
  font-size: 20px;
  -fx-font-weight: 600;
  font-weight: 600;
  -fx-background-radius: 5px;
  -fx-background-color: #1a9e3d;
  background-color: #1a9e3d;
}

.btn:hover {
  -fx-background-color: #188836;
  background-color: #188836;
}

.btnPersonagem {
  -fx-font-family: "Berlin Sans FB";
  font-family: "Berlin Sans FB";
  -fx-font-size: 16px;
  font-size: 16px;
  -fx-text-fill: #fff;
  -fx-background-color: #eb3455;
  background-color: #eb3455;
  -fx-background-radius: 5px;
}

.btnPersonagem:hover {
  -fx-text-fill: #fff;
  -fx-background-color: #9f233a;
  background-color: #9f233a;
}

.btnNamoro {
  -fx-font-family: "Berlin Sans FB";
  font-family: "Berlin Sans FB";
  -fx-font-size: 14px;
  font-size: 14px;
  -fx-font-weight: 600;
  font-weight: 600;
  -fx-background-color: transparent;
  background-color: transparent;
}

